{% extends 'base.html' %}

{% block title %}Home | E-Commerce{% endblock %}

{% block content %}
<!-- product section start -->
<div class="product_section layout_padding">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <h1 class="product_taital">Our Products</h1>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <form method="get">
               <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Search" name="search" value="{{ request.GET.search }}">
                  <div class="input-group-append">
                     <button class="btn btn-primary" type="submit">Search</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
      <div class="product_section_2 layout_padding">

         <div class="row">
            {% for product in products %}
            <div class="col-lg-3 col-sm-6">
               <div class="product_box">
                  <h4 class="bursh_text">{{ product.name }}</h4>
                  <p class="lorem_text">{{ product.description }}</p>
                  <img src="{{ product.image.url }}" class="image_1">
                  <div class="btn_main">
                     <div class="buy_bt">
                        <ul>
                           <li>
                              <form method="post">
                                 {% csrf_token %}
                                 <input type="hidden" name="product_id" value="{{ product.id }}">
                                 <!-- number of likes -->
                                 <span class="like_count  bg-info p-2 rounded">
                                 {{ product.likes }}
                                 </span>
                                 <button type="submit" class="btn btn-primary">Like</button>
                              </form>
                           </li>
                        </ul>
                     </div>
                     <h3 class="price_text">Price Rs.{{ product.price }}</h3>
                  </div>
               </div>
            </div>
            {% if forloop.counter|divisibleby:4 and not forloop.last %}
         </div>
         <div class="row">
            {% endif %}
            {% endfor %}
         </div>


         <div class="seemore_bt"><a href="#">See More</a></div>
      </div>
   </div>
</div>
<!-- product section end -->
{% endblock %}