{% load static %}
<!-- header section start -->
<div class="header_section">
    <div class="container-fluid">
       <nav class="navbar navbar-light bg-light justify-content-between">
          <div id="mySidenav" class="sidenav">
             <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
             <a href="/">Home</a>
             {% if user.is_superuser %}
               <a href="{% url 'products:add_product' %}">Add Product</a>
            {% endif %}
            </div>
          <span class="toggle_icon" onclick="openNav()"><img src="{% static 'images/toggle-icon.png' %}"></span>
          <a class="logo" href="/"><h1>Bechni & Kinni</h1></a>
          <form class="form-inline ">
             <div class="login_text">
                <ul>
                  {% if user.is_authenticated %}
                    <li><a href="{% url 'users:logout' %}" class="btn btn-danger">Logout</a></li>
                  {% else %}
                     <li><a href="{% url 'users:login' %}" class="btn btn-success">Login</a></li>
                     <li><a href="{% url 'users:register' %}" class="btn btn-primary">Register</a></li>
                  {% endif %}
                </ul>
             </div>
          </form>
       </nav>
    </div>
 </div>
 <!-- header section end -->