{% load static %}
<!-- header section start -->
<div class="header_section">
    <div class="container-fluid">
       <nav class="navbar navbar-light bg-light justify-content-between">
          <div id="mySidenav" class="sidenav">
             <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
             <a href="/">Home</a>
             {% if user.is_authenticated %}
               <a href="{% url 'products:add_product' %}">Add Product</a>
            {% endif %}
            </div>
          <span class="toggle_icon" onclick="openNav()"><img src="{% static 'images/toggle-icon.png' %}"></span>
          <a class="logo" href="/"><h1>Bechni & Kinni</h1></a>
          <form class="form-inline ">
             <div class="login_text">
                <ul>
                   <li><a href="/"><img src="{% static 'images/user-icon.png' %}"></a></li>
                   <li><a href="/"><img src="{% static 'images/bag-icon.png' %}"></a></li>
                </ul>
             </div>
          </form>
       </nav>
    </div>
 </div>
 <!-- header section end -->